body 
{
    font-family: 'Segoe UI', sans-serif;
}

span 
{
    font-style: italic;
}

#displayTable
{
	overflow:auto;
	background-color:#B2B2FF;
	height:250px;
	//width:300px;
}

h1,h2
{
	text-align: center;
}

p
{
	text-align: center;
}