body 
{
    font-family: 'Segoe UI', sans-serif;
}

span 
{
    font-style: italic;
}

#displayTable
{
	overflow:auto;
	background-color:#B2B2FF;
	height:250px;
	//width:300px;
}
@font-face {
    font-family: myFirstFont;
    src: url(font/berlin-sans-fb-demi-bold.ttf);
}


h1,h2
{
	font-family: myFirstFont;
	text-align: center;
}

p
{
	text-align: center;
}

#logo
{
	position: fixed;
    bottom: 0px;
    right: 0px;
}