@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

.ranks 
{
	text-align: left;
}

.studentNames
{
	padding-left: 12px;
	padding-bottom: 10px;
	opacity: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
}

.teamName
{
	opacity: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30px;
	padding-top: 10px;
}

table 
{ 
	height: 100%;
	width: 100%;
	text-align: center;
}

.style1
{
	background: url(images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#logo
{
	position: fixed;
	bottom: 0;
	right: 0;
}

.center-screen
{
	 width: 60%;
	 height: 70%;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%,-50%);
}