@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

.ranks {
	text-align: left;
}

.studentNames{
	padding-left: 12px;
	display: none;
}

.teamName{
	display: none;
}

table 
{ 
	height: 100%;
	width: 100%;
	text-align: center;
}

.center-screen
{
	 border: 2px dashed blue;
	 width: 60%;
	 height: 70%;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%,-50%);
}